# Sales Commission Report Automation with Python and Excel

## Soft and Hardskills used:
Python Programming  
Data Analysis  
Excel Skills  
Pivot Tables  
Date Handling  
Financial Analysis  
Automation  
Problem-Solving  
Attention to Detail  
Analytical Thinking  
Communication  
Time Management  
Business Acumen  
## Problem Statement:
The manual calculation of sales commissions is currently a time-intensive task for our financial analysts, requiring significant monthly effort. Errors in these calculations have led to financial losses for the company.

## Introduction:
In the dynamic world of SaaS businesses, accurately tracking and calculating sales commissions can be a complex and time-consuming task. To streamline this process, I developed a Python script that automates the calculation of sales commissions from an Excel file containing client payment data. This project is a great example of how Python can be used to improve Data Analysts workflow. 

## Project Overview
The project begins with an Excel file downloaded from a proprietary system, containing a time series client payments. The dataset includes the following columns:

* Client Code
* Client's Username
* Seller's Name
* Subscription Plan
* Payment Date
* Payment Value
 

## Business Rules
#### The commission structure is defined as follows:
Salespersons earn a commission fee of 10% on every payment made by their clients within the first three months of the client's relationship with the company.
The start of the client relationship is marked by the first payment.
The commission fee is paid in the month following the client's payment.
#### Example Scenario
To illustrate, let's consider a client who subscribes to the software in March 2024 and makes a USD100 payment for one month of use. The salesperson responsible for this client will earn a USD10 commission (10% of 100) for this payment. If the client continues to make payments in April and May 2024, the salesperson will earn commissions for these payments as well, provided they fall within the first three months of the client relationship."

## Implementation Details
The script performs the following steps to calculate the commissions:

### Step 1: Data Loading:

Load the Excel file into a Pandas DataFrame for easy manipulation.

### Step 2: Data Transformation:

Several transformations are applied to clean and structure the data:

Add Seller's Name: A new column is created to store the seller's name extracted from the first row.  
Add Evaluation Period: A new column is created to store the evaluation period extracted from the fourth row.  
Set Column Names: The sixth row is used as the column names, and the preceding rows are dropped.  
Drop Useless Column: The column 'VALOR COMISSÃO' is removed as it is not needed for the analysis.  
Rename Columns: The second column is renamed to 'USERNAME'.  
Reset Index: The index is reset and the index name is removed.  
Convert Date Format: The 'DATA PAGTO' column is converted to a 'YYYY/MM' format.

### Step 3: Data Aggregation:
A pivot table is created to aggregate the payment data by client and payment date.

### Step 4: Calculate Number of Payemnts used in Business Rule:
New columns are added to count the total number of payments and the number of payments in the last three months.

Total Payments: Counts the number of months each client has made a payment.
Payments in Last Three Months: Calculates the number of payments made in the last three months.

### Step 5: Determine Commission Eligibility:

A new column is added to indicate whether a client is eligible for a commission based on the defined rules.

### Step 6: Calculate Due Commission Value:
### Step 7: Export the Analysis to a new Excel Sheet for reporting




## Conclusion
This project exemplifyes how to leverage Python for data manipulation and business logic implementation, automating a crucial financial process for a SaaS company. By efficiently calculating sales commissions, the script not only saves time but also ensures accuracy and consistency in commission payouts. This kind of project underscores technical skills and business operations knowledge.

Feel free to reach out if you have any questions or would like to see a demonstration of the project in action.

In [6]:
# Importing libraries
import pandas as pd
import numpy as np
import openpyxl
from openpyxl import load_workbook
from datetime import datetime
import os
import re

## Step 1: Data Loading

In [7]:
# This code will be used in order to hide sensitive information according to the GDPR
file = 'gui.xlsx'
df1 = pd.read_excel(file)
# Accessing the wanted information
seller = df1.at[0, 'Unnamed: 1']

# Substitute the middle part of the CPF with asterisks
seller = re.sub(r'(\d{3})\.\d{3}\.\d{3}-(\d{2})', r'\1.***.***-\2', seller)
df1.at[0, 'Unnamed: 1'] = seller
# Assign the modified seller back to the dataframe
df1['SELLER'] = seller
df1.head(15)

,RELATÓRIO DE COMISSÕES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,SELLER
0,Parceiro:,GUILHERME SOARES (148.***.***-64),NaN,NaN,NaN,NaN,GUILHERME SOARES (148.***.***-64)
1,Comissão:,15% (De 01/01/2020 até 31/12/2021),NaN,NaN,NaN,NaN,GUILHERME SOARES (148.***.***-64)
2,Contato:,guilherme@maxbot.com.br,NaN,NaN,NaN,NaN,GUILHERME SOARES (148.***.***-64)
3,Período:,De 01/01/2018 até 30/06/2024,NaN,NaN,NaN,NaN,GUILHERME SOARES (148.***.***-64)
4,Total:,R$ 32706.31,NaN,NaN,NaN,NaN,GUILHERME SOARES (148.***.***-64)
5,DATA PAGTO,NaN,CLIENTE,PRODUTO,VALOR PAGO,VALOR COMISSÃO,GUILHERME SOARES (148.***.***-64)
6,NaN,NaN,NaN,NaN,NaN,NaN,GUILHERME SOARES (148.***.***-64)
7,22/01/2020,EDITORANAPOLEAO,CRISTIANE RIBEIRO,MKT,1450,217.5,GUILHERME SOARES (148.***.***-64)
8,24/03/2020,DSOFTSOLUTIONS,DARI JUNIOR,ATD,390,58.5,GUILHERME SOARES (148.***.***-64)
9,30/03/2020,FIANCA,GERALDO CARLOS GONCALVES SILVA,ATD,286,42.9,GUILHERME SOARES (148.***.***-64)
10,16/04/2020,CENTROAVANCADO,CENTRO AVANCADO,MKT,920,138,GUILHERME SOARES (148.***.***-64)
11,21/04/2020,DIEGODMCREDI,DIEGO SILVA,ATD,337,50.55,GUILHERME SOARES (148.***.***-64)
12,24/04/2020,JARDEL,WILSON PEREIRAMARTINS,ATD,411.3,61.7,GUILHERME SOARES (148.***.***-64)
13,24/04/2020,FGDRUMMOND,FELIPE DRUMMOND,ATD,407,61.05,GUILHERME SOARES (148.***.***-64)
14,24/04/2020,DSOFTSOLUTIONS,DARI JUNIOR,ATD,390,58.5,GUILHERME SOARES (148.***.***-64)

In [47]:
#df1.info()
#df1.summary()

## Step 2: Data Transformation

In [48]:
# Creating a new column with the seller's name information
seller = df1.at[0, 'Unnamed: 1'] #accessing the wanted information
df1['SELLER'] = seller

#Creating a new column with the evaluated period
period = df1.at[3, 'Unnamed: 1']
df1['PERIOD'] = period

#utilizing the correct line as column names
df1.columns = df1.iloc[5]
df1.drop(df1.index[:7], inplace = True)

#Deleting a useless column 'VALOR COMISSÃO'
df1.drop('VALOR COMISSÃO', axis=1, inplace = True)

#renaming the second column as USERNAME instead of NaN
df1 = df1.rename(columns={np.nan: 'USERNAME'})
#renaming the index column


#reseting the index column
df1.reset_index(drop = True, inplace = True)
#Removing index name
df1 = df1.rename_axis(None, axis=1)

In [49]:
#Converting the data type of the 'DATA PAGTO' column to a date.

#Joining the two following steps into one.
#df['DATA PAGTO'] = pd.to_datetime(df['DATA PAGTO'], format='%d/%m/%Y')
#df['DATA PAGTO'] = df['DATA PAGTO'].dt.strftime('%Y/%m')

df1['DATA PAGTO'] = pd.to_datetime(df1['DATA PAGTO'], format='%d/%m/%Y').dt.strftime('%Y/%m')
df1.head()

,DATA PAGTO,USERNAME,CLIENTE,PRODUTO,VALOR PAGO,GUILHERME SOARES (148.512.996-64),De 01/01/2018 até 30/06/2024
0,2020/01,EDITORANAPOLEAO,CRISTIANE RIBEIRO,MKT,1450,GUILHERME SOARES (148.512.996-64),De 01/01/2018 até 30/06/2024
1,2020/03,DSOFTSOLUTIONS,DARI JUNIOR,ATD,390,GUILHERME SOARES (148.512.996-64),De 01/01/2018 até 30/06/2024
2,2020/03,FIANCA,GERALDO CARLOS GONCALVES SILVA,ATD,286,GUILHERME SOARES (148.512.996-64),De 01/01/2018 até 30/06/2024
3,2020/04,CENTROAVANCADO,CENTRO AVANCADO,MKT,920,GUILHERME SOARES (148.512.996-64),De 01/01/2018 até 30/06/2024
4,2020/04,DIEGODMCREDI,DIEGO SILVA,ATD,337,GUILHERME SOARES (148.512.996-64),De 01/01/2018 até 30/06/2024

In [50]:
#Obtaining the "MRR Agenda" by client
table1 = pd.pivot_table(df1, values = 'VALOR PAGO', index = 'USERNAME', columns = 'DATA PAGTO', aggfunc= 'sum', fill_value = 0)
table1

DATA PAGTO,2020/01,2020/03,2020/04,2020/05,2020/06,2020/07,2020/08,2020/09,2020/10,2020/11,...,2023/09,2023/10,2023/11,2023/12,2024/01,2024/02,2024/03,2024/04,2024/05,2024/06
USERNAME,,,,,,,,,,,,,,,,,,,,,
334701,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,350.0,1933.2,0.0,0.0,0.0,0.00,0.0
01,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
3dcure,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,547.0,547.0,630.16,617.0
ADRISI,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
AVUNHAS,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vtrans,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376.9,500.00,500.0
walmir,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
worldrio,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
ygveronez,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
yveronez,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0

In [51]:
#Adding a column to obtain the number of months each client has made a payment
table1['NUM_PAYMENTS'] = (table1>0).sum(axis=1)
table1

DATA PAGTO,2020/01,2020/03,2020/04,2020/05,2020/06,2020/07,2020/08,2020/09,2020/10,2020/11,...,2023/10,2023/11,2023/12,2024/01,2024/02,2024/03,2024/04,2024/05,2024/06,NUM_PAYMENTS
USERNAME,,,,,,,,,,,,,,,,,,,,,
334701,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,350.0,1933.2,0.0,0.0,0.0,0.00,0.0,5
01,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,1
3dcure,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,547.0,547.0,630.16,617.0,4
ADRISI,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,7
AVUNHAS,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vtrans,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,376.9,500.00,500.0,3
walmir,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,3
worldrio,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,1
ygveronez,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,13
yveronez,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,7

In [52]:
#A function to get a list with X months prior to current month.
def last_months(x):
    now = pd.Timestamp(datetime.now())
    dates = []
    for i in range (x):
        date = now - pd.DateOffset(months=i+1)
        year_month = date.strftime('%Y/%m')
        dates.append(year_month)
    return dates

In [53]:
#Just checking if our function gets the results we need
last_month = (last_months(1))
last_3_months = last_months(3)
type((last_month))
print(last_3_months)

['2024/06', '2024/05', '2024/04']

In [54]:
#Creating a column that gives us the number of payments in the last three months.
#This is important so we do not get fooled by clients that buys 6 or 12 months for example.
table1['NUM_PAYMENTS_LAST3_MON'] = table1.loc[:,last_3_months].gt(0).sum(axis=1)

In [55]:
table1.sort_values(by='NUM_PAYMENTS_LAST3_MON', ascending=False).head(10)

DATA PAGTO,2020/01,2020/03,2020/04,2020/05,2020/06,2020/07,2020/08,2020/09,2020/10,2020/11,...,2023/11,2023/12,2024/01,2024/02,2024/03,2024/04,2024/05,2024/06,NUM_PAYMENTS,NUM_PAYMENTS_LAST3_MON
USERNAME,,,,,,,,,,,,,,,,,,,,,
eumarfabiano,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,767.0,807.65,849.04,850.14,827.0,849.04,893.06,888.46,9,3
namare,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,203.50,325.60,325.60,325.6,325.60,342.50,342.50,7,3
rodolfofelipefm,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,380.0,380.00,380.00,380.00,380.0,380.00,399.72,399.72,15,3
gruporevest,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,677.0,677.00,677.00,677.00,677.0,752.21,780.51,780.51,12,3
renatawmacademy,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,877.0,877.00,877.00,877.00,877.0,877.00,1066.02,1057.52,30,3
recivil,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,587.0,587.00,587.00,587.00,587.0,587.00,617.47,617.47,29,3
privilegioscbb,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,717.3,717.30,717.30,934.54,1167.3,1167.30,1227.88,1227.88,19,3
MKJASSESSORIA,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,477.0,477.00,477.00,477.00,477.0,477.00,501.76,501.76,41,3
nataclinica,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,547.0,547.00,547.00,547.00,547.0,547.00,575.39,575.39,41,3
SOCMEDICA,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,187.0,187.00,187.00,187.00,187.0,187.00,196.71,196.71,42,3

In [56]:
table1[(table1[last_month[0]]>0) & (table1['NUM_PAYMENTS'] <=3) & (table1['NUM_PAYMENTS_LAST3_MON'] <=3)]

DATA PAGTO,2020/01,2020/03,2020/04,2020/05,2020/06,2020/07,2020/08,2020/09,2020/10,2020/11,...,2023/11,2023/12,2024/01,2024/02,2024/03,2024/04,2024/05,2024/06,NUM_PAYMENTS,NUM_PAYMENTS_LAST3_MON
USERNAME,,,,,,,,,,,,,,,,,,,,,
centropsicanalise,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,557.0,568.88,557.00,3,3
chappa,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,557.0,557.00,557.00,3,3
ciaemporio,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,4678.80,1,1
cleversoncvs,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1900.0,0.0,0.0,0.0,0.0,0.00,1900.00,2,1
dba_grupodba,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,4560.00,2,1
funerariavip,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,557.00,557.00,2,2
kaz_formaturas,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,352.42,448.02,2,2
nuclearimobiliaria,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,557.29,617.00,2,2
ramsolution,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,4884.00,3,1
superfarmapopular,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,340.00,340.00,3,2
vtrans,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,376.9,500.00,500.00,3,3

In [57]:
dict_map = {True: 'Elegible', False:'Ineligible'}
table1['COMISSION'] = ((table1['NUM_PAYMENTS'] <=3 ) & (table1['NUM_PAYMENTS'] == table1['NUM_PAYMENTS_LAST3_MON']) & (table1[last_month[0]] > 0)).map(dict_map)

In [58]:
table1 = table1.sort_values(by='COMISSION').head(15)
table1

DATA PAGTO,2020/01,2020/03,2020/04,2020/05,2020/06,2020/07,2020/08,2020/09,2020/10,2020/11,...,2023/12,2024/01,2024/02,2024/03,2024/04,2024/05,2024/06,NUM_PAYMENTS,NUM_PAYMENTS_LAST3_MON,COMISSION
USERNAME,,,,,,,,,,,,,,,,,,,,,
vtrans,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,376.9,500.00,500.00,3,3,Elegible
centropsicanalise,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,557.0,568.88,557.00,3,3,Elegible
chappa,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,557.0,557.00,557.00,3,3,Elegible
kaz_formaturas,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,352.42,448.02,2,2,Elegible
ciaemporio,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,4678.80,1,1,Elegible
nuclearimobiliaria,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,557.29,617.00,2,2,Elegible
funerariavip,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,557.00,557.00,2,2,Elegible
334701,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,350.0,1933.2,0.0,0.0,0.0,0.00,0.00,5,0,Ineligible
iji.juv,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6499.2,0.0,0.0,0.0,0.00,0.00,17,0,Ineligible
imobiliariaideal,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,11,0,Ineligible
institutocuca,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,3,0,Ineligible
iriscor,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,242.0,0.0,0.0,0.0,3071.71,0.00,6,1,Ineligible
ismaelsoilet,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,14,0,Ineligible
joycefernandes,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,407.0,420.0,407.00,415.68,4,3,Ineligible
justaeadp07,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1,0,Ineligible

# Comission Due

In [59]:
Comission_Value = (table1.loc[table1['COMISSION'] == 'Elegible', last_month[0]].sum())/10
Comission_Value

791.482

## Saving the table of interest in the excel file

In [60]:
with pd.ExcelWriter(file, engine = 'openpyxl', mode = 'a', if_sheet_exists = 'replace') as writer:
    table1.to_excel(writer, sheet_name='DadosComissoes')